/*
Nathan Snyder
ANTH 3541: Language and Music final project
Debunking the Expressionist Fallacy
*/

html {
    height: 700vh; /* 100vh * number of slides */
}

#slidecontainer {
    width: 100%;
}

#progressbar {
    width: 0%;
    display: none;
}

@media only screen and (min-width: 700px) {
    #bodycontainer {
        display: block;
    }
    
    #slidecontainer {
        float: right;
        width: 97%;
    }
    
    #progressbar {
        display: block;
        float: left;
        position: fixed;
        width: 3%;
    }

    .sliderect {
        display: block;
        width: 50%;
        height: calc(87vh / 7); /* 87vh / number of slides */
        margin: calc(10vh / 7) auto; /* 10vh / number of slides */
        background-color: red;
        opacity: 0.1;
    }

    #slide0rect {
        opacity: 1;
    }
}

.slide {
    position: fixed;
    height: 95%;
    width: 95%;
    opacity: 0;
}

#slide0 {
    opacity: 1;
}
